USE [VersionSin321]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empModel2]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empModel2](
	[EmpId] [varchar](10) NULL,
	[imageName] [varchar](10) NULL,
	[text1] [varchar](10) NULL,
	[text2] [varchar](10) NULL,
	[text3] [varchar](10) NULL,
	[text4] [varchar](10) NULL,
	[text5] [varchar](10) NULL,
	[text6] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empModels]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [nvarchar](100) NOT NULL,
	[EmpEmail] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[contact] [nvarchar](20) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[isLoggedIn] [bit] NOT NULL,
	[EmpId] [nvarchar](100) NULL,
	[UserOtp] [nvarchar](50) NULL,
	[RefranceId] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImgTemplate]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImgTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[imgPath] [nvarchar](max) NOT NULL,
	[JsonPath] [nvarchar](max) NOT NULL,
	[CreateAt] [varchar](max) NOT NULL,
	[discription] [varchar](max) NULL,
 CONSTRAINT [PK_ImgTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginTeken]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginTeken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [nvarchar](max) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[Expiry] [nvarchar](max) NOT NULL,
	[role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LoginTeken] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginTokenRec]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginTokenRec](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NULL,
	[Token] [varchar](1000) NULL,
	[Expiry] [varchar](1000) NULL,
	[Role] [varchar](1000) NULL,
	[isLoggedIn] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageList]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageList](
	[PackId] [int] NOT NULL,
	[ButtlePints] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[PackId] [int] NULL,
	[PackageName] [nvarchar](255) NOT NULL,
	[SubHeading] [nvarchar](500) NULL,
	[Amount] [int] NOT NULL,
	[creditLimit] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentOrders]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [varchar](50) NOT NULL,
	[PaymentSessionId] [varchar](200) NULL,
	[EmpId] [int] NOT NULL,
	[PackageId] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentStatus] [varchar](20) NOT NULL,
	[TransactionId] [varchar](100) NULL,
	[PaymentMethod] [varchar](50) NULL,
	[CreatedDate] [varchar](50) NULL,
	[UpdatedDate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QC_Detail]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QC_Detail](
	[TranId] [int] NULL,
	[QC_Length] [varchar](max) NULL,
	[QC_ZikZak] [varchar](max) NULL,
	[QC_DPI] [varchar](max) NULL,
	[QC_PageFolded] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QC_Response]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QC_Response](
	[TranId] [int] NULL,
	[TimeDate] [varchar](50) NULL,
	[RecordName] [varchar](max) NULL,
	[TotalLength] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rfgd]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rfgd](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[set] [varchar](255) NULL,
	[PC] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template_20375_27-06-2026-13:50:57]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template_20375_27-06-2026-13:50:57](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LiveTime] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Report] [nvarchar](max) NULL,
	[Sr] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[Roll Number] [nvarchar](max) NULL,
	[Post Code] [nvarchar](max) NULL,
	[Q1] [nvarchar](max) NULL,
	[Q2] [nvarchar](max) NULL,
	[Q3] [nvarchar](max) NULL,
	[Q4] [nvarchar](max) NULL,
	[Q5] [nvarchar](max) NULL,
	[Q6] [nvarchar](max) NULL,
	[Q7] [nvarchar](max) NULL,
	[Q8] [nvarchar](max) NULL,
	[Q9] [nvarchar](max) NULL,
	[Q10] [nvarchar](max) NULL,
	[Q11] [nvarchar](max) NULL,
	[Q12] [nvarchar](max) NULL,
	[Q13] [nvarchar](max) NULL,
	[Q14] [nvarchar](max) NULL,
	[Q15] [nvarchar](max) NULL,
	[Q16] [nvarchar](max) NULL,
	[Q17] [nvarchar](max) NULL,
	[Q18] [nvarchar](max) NULL,
	[Q19] [nvarchar](max) NULL,
	[Q20] [nvarchar](max) NULL,
	[Q21] [nvarchar](max) NULL,
	[Q22] [nvarchar](max) NULL,
	[Q23] [nvarchar](max) NULL,
	[Q24] [nvarchar](max) NULL,
	[Q25] [nvarchar](max) NULL,
	[Q26] [nvarchar](max) NULL,
	[Q27] [nvarchar](max) NULL,
	[Q28] [nvarchar](max) NULL,
	[Q29] [nvarchar](max) NULL,
	[Q30] [nvarchar](max) NULL,
	[Q31] [nvarchar](max) NULL,
	[Q32] [nvarchar](max) NULL,
	[Q33] [nvarchar](max) NULL,
	[Q34] [nvarchar](max) NULL,
	[Q35] [nvarchar](max) NULL,
	[Q36] [nvarchar](max) NULL,
	[Q37] [nvarchar](max) NULL,
	[Q38] [nvarchar](max) NULL,
	[Q39] [nvarchar](max) NULL,
	[Q40] [nvarchar](max) NULL,
	[Q41] [nvarchar](max) NULL,
	[Q42] [nvarchar](max) NULL,
	[Q43] [nvarchar](max) NULL,
	[Q44] [nvarchar](max) NULL,
	[Q45] [nvarchar](max) NULL,
	[Q46] [nvarchar](max) NULL,
	[Q47] [nvarchar](max) NULL,
	[Q48] [nvarchar](max) NULL,
	[Q49] [nvarchar](max) NULL,
	[Q50] [nvarchar](max) NULL,
	[Q51] [nvarchar](max) NULL,
	[Q52] [nvarchar](max) NULL,
	[Q53] [nvarchar](max) NULL,
	[Q54] [nvarchar](max) NULL,
	[Q55] [nvarchar](max) NULL,
	[Q56] [nvarchar](max) NULL,
	[Q57] [nvarchar](max) NULL,
	[Q58] [nvarchar](max) NULL,
	[Q59] [nvarchar](max) NULL,
	[Q60] [nvarchar](max) NULL,
	[Q61] [nvarchar](max) NULL,
	[Q62] [nvarchar](max) NULL,
	[Q63] [nvarchar](max) NULL,
	[Q64] [nvarchar](max) NULL,
	[Q65] [nvarchar](max) NULL,
	[Q66] [nvarchar](max) NULL,
	[Q67] [nvarchar](max) NULL,
	[Q68] [nvarchar](max) NULL,
	[Q69] [nvarchar](max) NULL,
	[Q70] [nvarchar](max) NULL,
	[Q71] [nvarchar](max) NULL,
	[Q72] [nvarchar](max) NULL,
	[Q73] [nvarchar](max) NULL,
	[Q74] [nvarchar](max) NULL,
	[Q75] [nvarchar](max) NULL,
	[Q76] [nvarchar](max) NULL,
	[Q77] [nvarchar](max) NULL,
	[Q78] [nvarchar](max) NULL,
	[Q79] [nvarchar](max) NULL,
	[Q80] [nvarchar](max) NULL,
	[Q81] [nvarchar](max) NULL,
	[Q82] [nvarchar](max) NULL,
	[Q83] [nvarchar](max) NULL,
	[Q84] [nvarchar](max) NULL,
	[Q85] [nvarchar](max) NULL,
	[Q86] [nvarchar](max) NULL,
	[Q87] [nvarchar](max) NULL,
	[Q88] [nvarchar](max) NULL,
	[Q89] [nvarchar](max) NULL,
	[Q90] [nvarchar](max) NULL,
	[Q91] [nvarchar](max) NULL,
	[Q92] [nvarchar](max) NULL,
	[Q93] [nvarchar](max) NULL,
	[Q94] [nvarchar](max) NULL,
	[Q95] [nvarchar](max) NULL,
	[Q96] [nvarchar](max) NULL,
	[Q97] [nvarchar](max) NULL,
	[Q98] [nvarchar](max) NULL,
	[Q99] [nvarchar](max) NULL,
	[Q100] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template_21375_06-07-2026-16:24:18]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template_21375_06-07-2026-16:24:18](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LiveTime] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Report] [nvarchar](max) NULL,
	[Sr] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[RollNo] [nvarchar](max) NULL,
	[PostCode] [nvarchar](max) NULL,
	[Q1] [nvarchar](max) NULL,
	[Q2] [nvarchar](max) NULL,
	[Q3] [nvarchar](max) NULL,
	[Q4] [nvarchar](max) NULL,
	[Q5] [nvarchar](max) NULL,
	[Q6] [nvarchar](max) NULL,
	[Q7] [nvarchar](max) NULL,
	[Q8] [nvarchar](max) NULL,
	[Q9] [nvarchar](max) NULL,
	[Q10] [nvarchar](max) NULL,
	[Q11] [nvarchar](max) NULL,
	[Q12] [nvarchar](max) NULL,
	[Q13] [nvarchar](max) NULL,
	[Q14] [nvarchar](max) NULL,
	[Q15] [nvarchar](max) NULL,
	[Q16] [nvarchar](max) NULL,
	[Q17] [nvarchar](max) NULL,
	[Q18] [nvarchar](max) NULL,
	[Q19] [nvarchar](max) NULL,
	[Q20] [nvarchar](max) NULL,
	[Q21] [nvarchar](max) NULL,
	[Q22] [nvarchar](max) NULL,
	[Q23] [nvarchar](max) NULL,
	[Q24] [nvarchar](max) NULL,
	[Q25] [nvarchar](max) NULL,
	[Q26] [nvarchar](max) NULL,
	[Q27] [nvarchar](max) NULL,
	[Q28] [nvarchar](max) NULL,
	[Q29] [nvarchar](max) NULL,
	[Q30] [nvarchar](max) NULL,
	[Q31] [nvarchar](max) NULL,
	[Q32] [nvarchar](max) NULL,
	[Q33] [nvarchar](max) NULL,
	[Q34] [nvarchar](max) NULL,
	[Q35] [nvarchar](max) NULL,
	[Q36] [nvarchar](max) NULL,
	[Q37] [nvarchar](max) NULL,
	[Q38] [nvarchar](max) NULL,
	[Q39] [nvarchar](max) NULL,
	[Q40] [nvarchar](max) NULL,
	[Q41] [nvarchar](max) NULL,
	[Q42] [nvarchar](max) NULL,
	[Q43] [nvarchar](max) NULL,
	[Q44] [nvarchar](max) NULL,
	[Q45] [nvarchar](max) NULL,
	[Q46] [nvarchar](max) NULL,
	[Q47] [nvarchar](max) NULL,
	[Q48] [nvarchar](max) NULL,
	[Q49] [nvarchar](max) NULL,
	[Q50] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template_22378_09-07-2026-14:11:37]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template_22378_09-07-2026-14:11:37](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LiveTime] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Report] [nvarchar](max) NULL,
	[Sr] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[Roll No] [nvarchar](max) NULL,
	[Post Code] [nvarchar](max) NULL,
	[Q1] [nvarchar](max) NULL,
	[Q2] [nvarchar](max) NULL,
	[Q3] [nvarchar](max) NULL,
	[Q4] [nvarchar](max) NULL,
	[Q5] [nvarchar](max) NULL,
	[Q6] [nvarchar](max) NULL,
	[Q7] [nvarchar](max) NULL,
	[Q8] [nvarchar](max) NULL,
	[Q9] [nvarchar](max) NULL,
	[Q10] [nvarchar](max) NULL,
	[Q11] [nvarchar](max) NULL,
	[Q12] [nvarchar](max) NULL,
	[Q13] [nvarchar](max) NULL,
	[Q14] [nvarchar](max) NULL,
	[Q15] [nvarchar](max) NULL,
	[Q16] [nvarchar](max) NULL,
	[Q17] [nvarchar](max) NULL,
	[Q18] [nvarchar](max) NULL,
	[Q19] [nvarchar](max) NULL,
	[Q20] [nvarchar](max) NULL,
	[Q21] [nvarchar](max) NULL,
	[Q22] [nvarchar](max) NULL,
	[Q23] [nvarchar](max) NULL,
	[Q24] [nvarchar](max) NULL,
	[Q25] [nvarchar](max) NULL,
	[Q26] [nvarchar](max) NULL,
	[Q27] [nvarchar](max) NULL,
	[Q28] [nvarchar](max) NULL,
	[Q29] [nvarchar](max) NULL,
	[Q30] [nvarchar](max) NULL,
	[Q31] [nvarchar](max) NULL,
	[Q32] [nvarchar](max) NULL,
	[Q33] [nvarchar](max) NULL,
	[Q34] [nvarchar](max) NULL,
	[Q35] [nvarchar](max) NULL,
	[Q36] [nvarchar](max) NULL,
	[Q37] [nvarchar](max) NULL,
	[Q38] [nvarchar](max) NULL,
	[Q39] [nvarchar](max) NULL,
	[Q40] [nvarchar](max) NULL,
	[Q41] [nvarchar](max) NULL,
	[Q42] [nvarchar](max) NULL,
	[Q43] [nvarchar](max) NULL,
	[Q44] [nvarchar](max) NULL,
	[Q45] [nvarchar](max) NULL,
	[Q46] [nvarchar](max) NULL,
	[Q47] [nvarchar](max) NULL,
	[Q48] [nvarchar](max) NULL,
	[Q49] [nvarchar](max) NULL,
	[Q50] [nvarchar](max) NULL,
	[Q51] [nvarchar](max) NULL,
	[Q52] [nvarchar](max) NULL,
	[Q53] [nvarchar](max) NULL,
	[Q54] [nvarchar](max) NULL,
	[Q55] [nvarchar](max) NULL,
	[Q56] [nvarchar](max) NULL,
	[Q57] [nvarchar](max) NULL,
	[Q58] [nvarchar](max) NULL,
	[Q59] [nvarchar](max) NULL,
	[Q60] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template_25384_17-07-2026-13:51:03]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template_25384_17-07-2026-13:51:03](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LiveTime] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Report] [nvarchar](max) NULL,
	[Sr] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[Q1] [nvarchar](max) NULL,
	[Q2] [nvarchar](max) NULL,
	[Q3] [nvarchar](max) NULL,
	[Q4] [nvarchar](max) NULL,
	[Q5] [nvarchar](max) NULL,
	[Q6] [nvarchar](max) NULL,
	[Q7] [nvarchar](max) NULL,
	[Q8] [nvarchar](max) NULL,
	[Q9] [nvarchar](max) NULL,
	[Q10] [nvarchar](max) NULL,
	[Q11] [nvarchar](max) NULL,
	[Q12] [nvarchar](max) NULL,
	[Q13] [nvarchar](max) NULL,
	[Q14] [nvarchar](max) NULL,
	[Q15] [nvarchar](max) NULL,
	[Q16] [nvarchar](max) NULL,
	[Q17] [nvarchar](max) NULL,
	[Q18] [nvarchar](max) NULL,
	[Q19] [nvarchar](max) NULL,
	[Q20] [nvarchar](max) NULL,
	[Q21] [nvarchar](max) NULL,
	[Q22] [nvarchar](max) NULL,
	[Q23] [nvarchar](max) NULL,
	[Q24] [nvarchar](max) NULL,
	[Q25] [nvarchar](max) NULL,
	[Q26] [nvarchar](max) NULL,
	[Q27] [nvarchar](max) NULL,
	[Q28] [nvarchar](max) NULL,
	[Q29] [nvarchar](max) NULL,
	[Q30] [nvarchar](max) NULL,
	[Q31] [nvarchar](max) NULL,
	[Q32] [nvarchar](max) NULL,
	[Q33] [nvarchar](max) NULL,
	[Q34] [nvarchar](max) NULL,
	[Q35] [nvarchar](max) NULL,
	[Q36] [nvarchar](max) NULL,
	[Q37] [nvarchar](max) NULL,
	[Q38] [nvarchar](max) NULL,
	[Q39] [nvarchar](max) NULL,
	[Q40] [nvarchar](max) NULL,
	[Q41] [nvarchar](max) NULL,
	[Q42] [nvarchar](max) NULL,
	[Q43] [nvarchar](max) NULL,
	[Q44] [nvarchar](max) NULL,
	[Q45] [nvarchar](max) NULL,
	[Q46] [nvarchar](max) NULL,
	[Q47] [nvarchar](max) NULL,
	[Q48] [nvarchar](max) NULL,
	[Q49] [nvarchar](max) NULL,
	[Q50] [nvarchar](max) NULL,
	[Q51] [nvarchar](max) NULL,
	[Q52] [nvarchar](max) NULL,
	[Q53] [nvarchar](max) NULL,
	[Q54] [nvarchar](max) NULL,
	[Q55] [nvarchar](max) NULL,
	[Q56] [nvarchar](max) NULL,
	[Q57] [nvarchar](max) NULL,
	[Q58] [nvarchar](max) NULL,
	[Q59] [nvarchar](max) NULL,
	[Q60] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Template_25386_17-07-2026-16:41:15]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Template_25386_17-07-2026-16:41:15](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LiveTime] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Report] [nvarchar](max) NULL,
	[Sr] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[NameOfCandidate] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[SrId] [int] IDENTITY(1,1) NOT NULL,
	[TranDate] [datetime2](7) NOT NULL,
	[TranId] [nvarchar](max) NOT NULL,
	[EmpId] [nvarchar](10) NOT NULL,
	[PackNo] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[SrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 20-07-2026 10:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[SrId] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [nvarchar](max) NOT NULL,
	[TimeDate] [datetime2](7) NOT NULL,
	[CreditLimit] [nvarchar](max) NOT NULL,
	[reneration_results] [int] NULL,
	[recognition_credits_total] [int] NULL,
	[generation_results_total] [int] NULL,
 CONSTRAINT [PK_Wallet] PRIMARY KEY CLUSTERED 
(
	[SrId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250505100128_testOne', N'9.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250505100302_testTwo', N'9.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250505102231_testThree', N'9.0.3')
GO
SET IDENTITY_INSERT [dbo].[empModels] ON 

INSERT [dbo].[empModels] ([Id], [EmpName], [EmpEmail], [password], [contact], [role], [isLoggedIn], [EmpId], [UserOtp], [RefranceId]) VALUES (16094, N'One', N'one@gmail.com', N'STPI', N'+912598785878', N'admin', 1, N'1037', N'185215', N'OMR103720260708145929')
INSERT [dbo].[empModels] ([Id], [EmpName], [EmpEmail], [password], [contact], [role], [isLoggedIn], [EmpId], [UserOtp], [RefranceId]) VALUES (16095, N'FirstOperator', N'first@gmail.com', N'123', N' 919868785845', N'operator', 1, N'1038', N'752559', N'OMR103720260708145929')
INSERT [dbo].[empModels] ([Id], [EmpName], [EmpEmail], [password], [contact], [role], [isLoggedIn], [EmpId], [UserOtp], [RefranceId]) VALUES (17094, N'AmitSir', N'amitshaomr@gmail.com', N'123', N' 918695785875', N'operator', 1, N'1039', N'269381', N'OMR103720260708145929')
SET IDENTITY_INSERT [dbo].[empModels] OFF
GO
SET IDENTITY_INSERT [dbo].[ImgTemplate] ON 

INSERT [dbo].[ImgTemplate] ([Id], [FileName], [imgPath], [JsonPath], [CreateAt], [discription]) VALUES (22378, N'IOCL##1037', N'ImageManager/IOCL.jpg', N'TempManager/IOCL.json', N'15-07-2026 11:24:11', N'asdf')
INSERT [dbo].[ImgTemplate] ([Id], [FileName], [imgPath], [JsonPath], [CreateAt], [discription]) VALUES (25381, N'CV Mob AMit##1045', N'ImageManager/30274639710248.jpg', N'', N'17-07-2026 11:53:57', N'asdf')
INSERT [dbo].[ImgTemplate] ([Id], [FileName], [imgPath], [JsonPath], [CreateAt], [discription]) VALUES (25383, N'Dr. CV Raman University##1043', N'ImageManager/Adobe Scan 17 Jul 2026_1.jpg', N'', N'17-07-2026 12:52:37', N'asdf')
SET IDENTITY_INSERT [dbo].[ImgTemplate] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginTokenRec] ON 

INSERT [dbo].[LoginTokenRec] ([Id], [EmpId], [Token], [Expiry], [Role], [isLoggedIn]) VALUES (17124, 1044, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxMDQ0IiwidW5pcXVlX25hbWUiOiJZYW5zaGlrYSIsImVtYWlsIjoieWFuc2hpa2FzaW5naDI1MDhAZ21haWwuY29tIiwicm9sZSI6ImFkbWluIiwiUGhvbmUiOiI3NDEwMjU4OTYzIiwicmVmcmFuY2VJZCI6Ik9NUjEwNDQyMDI2MDcxNjE1NTI0MSIsIm5iZiI6MTc4NDUyMzY3MywiZXhwIjoxNzg0NTI3MjczLCJpYXQiOjE3ODQ1MjM2NzMsImlzcyI6IkRvdE5ldF9QcmFzaGFudEthc2h5YXAiLCJhdWQiOiJPTVJfSU9TX1B2dF9MdGQifQ.7dEt1hpC3jioZVLYm7gvjOHkul2F2PTImo5UsWK_uiQ', N'20-07-2026 11:31:13', N'admin', 1)
INSERT [dbo].[LoginTokenRec] ([Id], [EmpId], [Token], [Expiry], [Role], [isLoggedIn]) VALUES (15125, 1037, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxMDM3IiwidW5pcXVlX25hbWUiOiJPbmUiLCJlbWFpbCI6Im9uZUBnbWFpbC5jb20iLCJyb2xlIjoiYWRtaW4iLCJQaG9uZSI6Iis5MTI1OTg3ODU4NzgiLCJyZWZyYW5jZUlkIjoiT01SMTAzNzIwMjYwNzA4MTQ1OTI5IiwibmJmIjoxNzg0NTIwODQ4LCJleHAiOjE3ODQ1MjQ0NDgsImlhdCI6MTc4NDUyMDg0OCwiaXNzIjoiRG90TmV0X1ByYXNoYW50S2FzaHlhcCIsImF1ZCI6Ik9NUl9JT1NfUHZ0X0x0ZCJ9.M0l1oLiwh9Id91jucVTeutCbRN6iB4Dtn1wEhpNevXs', N'20-07-2026 10:44:08', N'admin', 1)
INSERT [dbo].[LoginTokenRec] ([Id], [EmpId], [Token], [Expiry], [Role], [isLoggedIn]) VALUES (12102, 1023, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxMDIzIiwidW5pcXVlX25hbWUiOiJuZXciLCJlbWFpbCI6Im5ld0BnbWFpbC5jb20iLCJyb2xlIjoiYWRtaW4iLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9vdGhlcnBob25lIjoiKzkxOTAyNTc4NDg1MiIsIm5iZiI6MTc4MjExMzMzNiwiZXhwIjoxNzgyMTE2OTM2LCJpYXQiOjE3ODIxMTMzMzYsImlzcyI6IkRvdE5ldF9QcmFzaGFudEthc2h5YXAiLCJhdWQiOiJPTVJfSU9TX1B2dF9MdGQifQ.W5fPo86IaQDRLPYkYYMi_uLCv2D9mnMBaslL9JmOXxc', N'22-06-2026 13:58:56', N'admin', 1)
SET IDENTITY_INSERT [dbo].[LoginTokenRec] OFF
GO
INSERT [dbo].[PackageList] ([PackId], [ButtlePints]) VALUES (1003, N'Scan up to 50 OMR sheets/month')
INSERT [dbo].[PackageList] ([PackId], [ButtlePints]) VALUES (1003, N'Automatic answer detection')
INSERT [dbo].[PackageList] ([PackId], [ButtlePints]) VALUES (1003, N'Export results to PDF')
GO
INSERT [dbo].[Packages] ([PackId], [PackageName], [SubHeading], [Amount], [creditLimit]) VALUES (1003, N'Free', N'Students & occasional users', 0, 30)
INSERT [dbo].[Packages] ([PackId], [PackageName], [SubHeading], [Amount], [creditLimit]) VALUES (1001, N'Enterprise Plan', N'Designed for large institutions with high-volume OMR evaluations.', 3999, 5000)
INSERT [dbo].[Packages] ([PackId], [PackageName], [SubHeading], [Amount], [creditLimit]) VALUES (1004, N'Pro Plan', N'', 100, 500)
GO
SET IDENTITY_INSERT [dbo].[PaymentOrders] ON 

INSERT [dbo].[PaymentOrders] ([Id], [OrderId], [PaymentSessionId], [EmpId], [PackageId], [Amount], [PaymentStatus], [TransactionId], [PaymentMethod], [CreatedDate], [UpdatedDate]) VALUES (2, N'OMR1781671194842', N'SessionId', 1028, 1003, CAST(110.20 AS Decimal(18, 2)), N'Pending', N'Transaction', N'PaymentMethod', N'Jun 17 2026 10:10AM', N'Jun 17 2026 10:10AM')
INSERT [dbo].[PaymentOrders] ([Id], [OrderId], [PaymentSessionId], [EmpId], [PackageId], [Amount], [PaymentStatus], [TransactionId], [PaymentMethod], [CreatedDate], [UpdatedDate]) VALUES (6, N'OMR1781672796335', N'SessionId', 1028, 1003, CAST(110.20 AS Decimal(18, 2)), N'Pending', N'Transaction', N'PaymentMethod', N'17-06-2026 10:36:36', N'17-06-2026 10:36:36')
INSERT [dbo].[PaymentOrders] ([Id], [OrderId], [PaymentSessionId], [EmpId], [PackageId], [Amount], [PaymentStatus], [TransactionId], [PaymentMethod], [CreatedDate], [UpdatedDate]) VALUES (1006, N'OMR1781677725104', N'SessionId', 1014, 1003, CAST(110.20 AS Decimal(18, 2)), N'Pending', N'Transaction', N'PaymentMethod', N'17-06-2026 11:58:45', N'17-06-2026 11:58:45')
GO
SET IDENTITY_INSERT [dbo].[PaymentOrders] OFF
GO
INSERT [dbo].[QC_Detail] ([TranId], [QC_Length], [QC_ZikZak], [QC_DPI], [QC_PageFolded]) VALUES (1003, N'Page counts matched', N'wwwroot\alignedImages\Prespativ_db338407-a68c-4674-8fd5-598c9cdee704.png', N'DPI Right: Low 100 DPI', N'Good: Page not Folded')
INSERT [dbo].[QC_Detail] ([TranId], [QC_Length], [QC_ZikZak], [QC_DPI], [QC_PageFolded]) VALUES (1003, N'Page counts matched', N'wwwroot\alignedImages\Prespativ_ba41a968-5730-4ecb-83bc-128568bc2f1b.png', N'DPI Right: Low 100 DPI', N'Good: Page not Folded')
INSERT [dbo].[QC_Detail] ([TranId], [QC_Length], [QC_ZikZak], [QC_DPI], [QC_PageFolded]) VALUES (1004, N'Page counts matched', N'wwwroot\alignedImages\Prespativ_32c95b08-c272-4a38-af6b-44abed424725.png', N'DPI Right: Low 100 DPI', N'Good: Page not Folded')
GO
INSERT [dbo].[QC_Response] ([TranId], [TimeDate], [RecordName], [TotalLength]) VALUES (1001, N'25-05-2026 13:56:12', N'subjectRec25', N'48')
INSERT [dbo].[QC_Response] ([TranId], [TimeDate], [RecordName], [TotalLength]) VALUES (1002, N'25-05-2026 14:03:17', N'asdf24', N'48')
INSERT [dbo].[QC_Response] ([TranId], [TimeDate], [RecordName], [TotalLength]) VALUES (1003, N'25-05-2026 14:12:33', N'asdf54', N'48')
GO
SET IDENTITY_INSERT [dbo].[Template_22378_09-07-2026-14:11:37] ON 

SET IDENTITY_INSERT [dbo].[Template_22378_09-07-2026-14:11:37] OFF
GO
SET IDENTITY_INSERT [dbo].[Template_25384_17-07-2026-13:51:03] ON 

SET IDENTITY_INSERT [dbo].[Template_25384_17-07-2026-13:51:03] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([SrId], [TranDate], [TranId], [EmpId], [PackNo], [Amount]) VALUES (1, CAST(N'2026-11-06T09:06:27.0000000' AS DateTime2), N'string', N'string', 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Transaction] ([SrId], [TranDate], [TranId], [EmpId], [PackNo], [Amount]) VALUES (2, CAST(N'2026-11-06T09:41:56.0000000' AS DateTime2), N'64ASDF25', N'1001', 112, CAST(654.47 AS Decimal(18, 2)))
INSERT [dbo].[Transaction] ([SrId], [TranDate], [TranId], [EmpId], [PackNo], [Amount]) VALUES (5, CAST(N'2026-11-06T11:05:05.0000000' AS DateTime2), N'string4', N'string4', 1004, CAST(645.45 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallet] ON 

INSERT [dbo].[Wallet] ([SrId], [Uid], [TimeDate], [CreditLimit], [reneration_results], [recognition_credits_total], [generation_results_total]) VALUES (1, N'1005', CAST(N'2026-11-06T11:18:31.0000000' AS DateTime2), N'11', 0, 0, 0)
INSERT [dbo].[Wallet] ([SrId], [Uid], [TimeDate], [CreditLimit], [reneration_results], [recognition_credits_total], [generation_results_total]) VALUES (2, N'1005', CAST(N'2026-11-06T11:18:31.0000000' AS DateTime2), N'11', 0, 0, 0)
INSERT [dbo].[Wallet] ([SrId], [Uid], [TimeDate], [CreditLimit], [reneration_results], [recognition_credits_total], [generation_results_total]) VALUES (3, N'1028', CAST(N'2026-12-06T06:04:13.0000000' AS DateTime2), N'645', 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Wallet] OFF
GO
ALTER TABLE [dbo].[empModels] ADD  DEFAULT ((0)) FOR [isLoggedIn]
GO
ALTER TABLE [dbo].[empModels] ADD  DEFAULT ('') FOR [RefranceId]
GO
ALTER TABLE [dbo].[ImgTemplate] ADD  DEFAULT ('N/A') FOR [CreateAt]
GO
ALTER TABLE [dbo].[LoginTokenRec] ADD  DEFAULT ((0)) FOR [isLoggedIn]
GO
